.DS_Store
.byebug_history
.rspec_status
coverage/
spec/examples/.byebug_history
spec/examples/.tmp.xml
spec/examples/_images/
spec/examples/rice.doc
spec/examples/rice.html
spec/examples/rice.xml
spec/examples/rice_files/

.rubocop-https--*

/Gemfile.devel
/Gemfile.lock
/spec/assets/iso.doc
/spec/assets/iso.html
/spec/assets/iso.pdf
/test.doc
/test.err
/test.html
/test.iso.sts.xml
/test.pdf
/test.presentation.xml
/test.sts.xml
/test.xml
/test_alt.html
/xref_error.adoc
/xref_error.alt.html
/xref_error.doc
/xref_error.err
/xref_error.html
/xref_error.iso.sts.xml
/xref_error.pdf
/xref_error.presentation.xml
/xref_error.rxl
/xref_error.sts.xml
/xref_error.xml
